.container {
  display: flex;
  justify-content: space-around;
}
.background-1 {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  padding-bottom: 10px;
  padding: 30px;
}
.background-2 {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  padding-bottom: 10px;
  padding: 30px;
}
.heading {
  margin-left: 50px;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.heading-2 {
  margin-left: 70px;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.input-field {
  margin-left: 50px;
}
.butn {
  margin-top: 50px;
  margin-left: 108px;
}
.butn-2 {
  margin-top: 41px;
  padding-top: 10px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
}
.total-word-1 {
  margin-top: 20px;
  margin-left: 128px;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.total-word-2 {
  margin-top: 20px;
  margin-left: 190px;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.total {
  margin-left: 17px;
}

.clear-btn-2 {
  margin-left: 170px;
}
/* button-1 */
.glow-on-hover {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* btn completed */
.clear-btn-1 {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 14px 40px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.clear-btn-1 span {
  position: relative;
  z-index: 1;
}

.clear-btn-1:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 390%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.clear-btn-1:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
/* clr-btn-2 */
.clear-btn-2 {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 14px 40px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.clear-btn-2 span {
  position: relative;
  z-index: 1;
}

.clear-btn-2:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 390%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.clear-btn-2:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
/* backGround-3 Start */
.background-3 {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(24, 24, 24);
  padding: 20px 10px 10px 10px;
  margin-top: 50px;
  border-radius: 20px;
  margin-left: 30%;
}
.input-field-3 {
  background: linear-gradient(to right, #3131ad, #d33295);
  padding: 10px 0px 50px 0px;
  font-size: larger;
  border-radius: 20px;
  font-size: 30px;
  text-align: end;
  width: 500px;
  display: flex;
  flex-wrap: inherit;
}
textarea {
  width: 500px !important;
  height: 50px !important;
  overflow: hidden !important;
}
.buttons {
  display: grid;
  font-family: sans-serif;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 40px;
  padding-top: 20px;
}
.button {
  text-align: center;
  padding: 10px;
  margin-left: 20px;
}
.pad-star {
  padding-top: 23px;
}
.button:hover {
  background: linear-gradient(to right, #7575c2, #72b996);
  border-radius: 20px;
}
.button:active {
  background: linear-gradient(to right, #2222d1, #0cdd74);
}
.white-text {
  color: white;
}
.text-blue {
  color: #4857a3;
}
.btn-background {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4857a3;
  border-radius: 50%;
  margin-left: 35px;
}
